{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "class-methods-use-this": 1,
    "import/no-duplicates": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0
  }
}